*{
    margin: 0;
    padding: 0;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 5%;
    padding-right: 5%;
    height: 70px;
}
.headerLinks{
    display: flex;
    list-style-type: none;
}
.headerLinks a{
    background-color: aliceblue;
    text-decoration: none;
    font-weight: bold;
    margin-left: 20px;
    color: blue;
    font-size: 18px;
}
.headerLinks a:hover {
    transition: 0.3s all ease;
    color: rgb(129, 129, 255);
    padding-bottom: 4px;
    border-bottom: 1px solid rgb(129, 129, 255);
}

.page1{
    display: flex;
    height: 55vh;
    background-image: url(../assets/robot-girl.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    justify-content: center;
    flex-direction: column;
}

.page1 p {
    font-size: 28px;
    font-weight: lighter;
    text-align: center;
    color: white;
}

.page1 h1 {
    font-size: 60px;
    font-weight: bolder;
    text-align: center;
    color: white;
}

.page2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(102, 101, 101);
}

.page2 h1 {
    margin-top: 30px;
    margin-bottom: 30px;
}

.page2 ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}

.page2 ul li {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.page2 ul li img {
    width: 70px;
    height: 50px;
    margin-bottom: 10px;
}

.page2 ul li h3 {
    width: 170px;
    line-height: 30px;
    text-align: center;
    margin-bottom: 20px;
}

.page2 ul li p {
    text-align: center;
    width: 170px;
    font-size: 16px;
}

.page2 .sub-page {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.page2 .sub-page img {
    width: 250px;
    height: 250px;
    margin-right: 30px;
}

.page2 .sub-page .text {
    width: 400px;
}

.page2 .sub-page h3 {
    font-weight: bolder;
    margin-bottom: 10px;
}
.page2 img:hover{
    content: url("../assets/logo.png");
}
.page2 .sub-page img:hover {
    content: url('../assets/logo.png');
}
.footer{
    color:black;
    background-color: grey;
    display: flex;
    justify-content: space-between;
    text-align: center;
    font-size: 20px;
    font-weight: bolder;
    align-items: center;
    padding: 5px;
}
.footer img{
    height: 25px;
    width: 25px;
    list-style-type: none;
}
.footer ul{
    display: flex;
}
.footer p{
    list-style-type: none;
}
.Regis{
    font-size: 40px;
    display: flex;
    align-items: center;
    height: 100vh;
    justify-content: center;
    background-size: contain;
    background-color: teal;
}
form{
    display: flex;
    flex-direction: column;
}